html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 0 80px;
    background-color: #228B22;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
}

form {
    width:80%;
    min-width: 200px;
}

.inputs {
    width:60%;
    max-width: 500px;
    height: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 0.25rem;
    border-width: 1px;
}

footer {
    flex: 0 0 35px;
    background-color: #228B22;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}