.workout-box-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.box {
    background: white;
    border-left: 5px solid #228b22;
    padding: 12px 16px;
    min-width: 240px;
    max-width: 320px;
    color: #222;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box-message {
    font-size: 0.9rem;
}

.box-close {
    position:absolute;
    top: 6px;
    right: 8px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.box-close:hover {
    color: #000;
}