.workout-notifications {
    border: 1px solid #000000;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border-radius: 6px;
}

.event {
    padding: 0.5rem 0;
    border-bottom: 1px solid #000000;
}

